header {
    text-align: left;
}

header img {
    margin-left: 3rem;
}

footer hr {
    width: 50%;
}

button {
    margin-top: 2rem;
    width: 10rem;
}

.scheda {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.divImmagine img {
    height: 13rem;
}

#container {
    width: 1366px;
}

#banner {
    height: 15rem;
    padding: 10rem 20rem 6rem 20rem;
}

#banner h1 {
    margin-bottom: 2rem;
}

#corpoCentrale {
    text-align: left;
    height: 30rem;
    padding-top: 3rem;
}

#corpoCentrale .bloccoTesto {
    margin-left: 50%;
}

#corpoCentrale .bloccoTesto:nth-last-of-type(1) {
    transform: translate(0, -205%);
}

#bloccoImmagine {
    width: 30%;
    /* float: left; */
    /* se lo attivo l'H2 fo epicodeGarantisce si sposta a destra senza una ragione apparente */
    transform: translate(65%, -60%);
}

#testimonianze {
    padding: 6rem 2rem;
    line-height: 1.6rem;
}

#testimonianze h2 {
    font-size: 2rem;
}

#testimonianze .quote {
    font-size: 1.8rem;
    margin: 2rem 0;
}


#corpoSchede {
    vertical-align: top;
    margin-bottom: 6rem;
}

#footer {
    width: fit-content;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

#copyright {
    text-align: center;
}